.toggle-switch {
    position: absolute;
    top: 0;
    right: 0;
}

.nav-drawer {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: $color-accent;
    color: invert($color-accent);
    transition: all 0.3s ease-in-out;
    &.expanded {
        max-width: 100%;
        & .toggle-switch {
            background: url('data:image/svg+xml;utf8,<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-menu-button" fill="lightgrey" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M0 1.5A1.5 1.5 0 0 1 1.5 0h8A1.5 1.5 0 0 1 11 1.5v2A1.5 1.5 0 0 1 9.5 5h-8A1.5 1.5 0 0 1 0 3.5v-2zM1.5 1a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5h-8zM14 7H2a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1zM2 6a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2H2z"/><path fill-rule="evenodd" d="M15 11H1v-1h14v1zM2 12.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5z"/><path d="M7.823 2.823l-.396-.396A.25.25 0 0 1 7.604 2h.792a.25.25 0 0 1 .177.427l-.396.396a.25.25 0 0 1-.354 0z"/></svg>');
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
        & .nav {
            margin-top: 0;
        }
    }
    & .toggle-switch {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url('data:image/svg+xml;utf8,<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-menu-button-wide" fill="lightgrey" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M0 1.5A1.5 1.5 0 0 1 1.5 0h13A1.5 1.5 0 0 1 16 1.5v2A1.5 1.5 0 0 1 14.5 5h-13A1.5 1.5 0 0 1 0 3.5v-2zM1.5 1a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5h-13zM14 7H2a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1zM2 6a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2H2z"/><path fill-rule="evenodd" d="M15 11H1v-1h14v1zM2 12.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0-10a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm0 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5z"/><path d="M12.823 2.823l-.396-.396A.25.25 0 0 1 12.604 2h.792a.25.25 0 0 1 .177.427l-.396.396a.25.25 0 0 1-.354 0z"/></svg>');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        cursor: pointer;
    }
    & .nav {
        display: flex;
        width: 100%;
        margin-top: -100%;
        transition: all 0.3s ease-in-out;
        & ul {
            width: 100%;
        }
        & .nav__item a {
                display: flex;
                color: invert($color-accent);
                &:hover {
                    background-color: lighten($color-accent, 5);
                    color: invert($color-accent);
                }
            & svg {
                margin-right: 1rem;
            }
        }
    }
}

@media screen and (min-width: 800px) {
    .toggle-switch {
        position: unset;
        top: 0;
        right: 0;
    }
    .nav-drawer {
        display: flex;
        flex-direction: column;
        min-height: 100%;
        width: calc(50px + 0.5rem);
        &.expanded {
            width: 300px;
            & .nav {
                & .nav__item a {
                    & svg {
                        margin-right: 1rem;
                    }
                    & span {
                        display: inline-block;
                    }
                }
            }
        }
        & .nav {
            margin-top: unset;
            display: flex;
            & .nav__item a {
                & svg {
                    margin-right: unset;
                }
                & span {
                    display: none;
                }
            }
        }
    }
}
